<template>
  <div>
    <!-- #header -->
    <header style="background-image: url(/images/content/bg/background-principal.jpg); background-position-x: center;" id="header" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080" data-image-src="/images/content/bg/background-principal.jpg">

      <!-- .header-overlay -->
      <div class="header-overlay">

        <!-- #navigation -->
        <nav id="navigation" class="navbar scrollspy">

          <!-- .container -->
          <div class="container">

            <div class="navbar-brand">
              <a href="/"><img src="images/logo-amesa-blanco.png" alt="Logo"></a> <!-- site logo -->
            </div>

            <ul class="nav navbar-nav">
              <li class="active"><a href="#header" class="smooth-scroll">Inicio</a></li>
              <li><a href="#portfolio" class="smooth-scroll">Portafolio</a></li>
              <li><a href="#bottom" class="smooth-scroll">Suscríbete</a></li>
              <li class="menu-btn"><a href="#quote" class="smooth-scroll">¡Solicitar Información!</a></li>
            </ul>

          </div>
          <!-- .container end -->

        </nav>
        <!-- #navigation end -->

        <!-- .header-content -->
        <div class="header-content">

          <!-- .container -->
          <div class="container">

            <div class="header-heading-title">
              <h1>Obtenga Hoy un Sitio Web Profesional Para Su Negocio.</h1>
              <h4>Por AndresMesa.co Especialistas En Marketing Digital.</h4>
            </div>

            <!-- .row -->
            <div class="row" id="quote">

              <div class="col-sm-5 col-md-4">
                <div class="header-form">
                  <div class="header-form-heading">
                    <h4><i class="fa fa-pencil"></i> Solicitar Información</h4>
                    <p>Por favor complete el siguiente formulario y nos pondremos en contacto con usted lo antes posible!</p>
                  </div>
                  <div class="header-form-body">
                    <div class="submit-status"></div> <!-- submit status -->

                      <input type="text" v-model="customer.first_name" placeholder="Nombre Completo *" value="" >
                      <input type="text" v-model="customer.email" placeholder="Email *" value="" >
                      <input type="text" v-model="customer.phone" placeholder="Número de teléfono *" value="" >
                      <textarea v-model="customer.comments" placeholder="Mensaje"></textarea>
                      <button @click="submitForm" class="btn-medium btn-block text-center">{{ loading ? 'Procesando...' : '¡Agendar Cita!' }}</button>

                  </div>
                </div>
              </div>

              <div class="col-sm-7 col-md-8 col-lg-7 col-lg-offset-1">
                <ul class="header-txt-list">
                  <li>
                    <i class="fa fa-laptop"></i>
                    <h4>Diseño optimizado para generar conversiones</h4>
                    <p>Estamos enfocados en crear sitios web altamente diseñados, que le ayudarán a obtener nuevos clientes potenciales de verdad.</p>
                  </li>
                  <li>
                    <i class="fa fa-bar-chart"></i>
                    <h4>Le brindamos soporte para tomar decisiones basadas en métricas reales</h4>
                    <p>Sabemos que las cosas se confunden, pero estamos a cargo de hacerlas más claras para usted.</p>
                  </li>
                  <li>
                    <i class="fa fa-database"></i>
                    <h4>Comience a crear su propia base de datos</h4>
                    <p>Le ayudamos a crear sus clientes potenciales, y utilizar las herramientas que necesita para crear una relación real con ellos.</p>
                  </li>
                  <li>
                    <i class="fa fa-download"></i>
                    <h4>Mobile first responsive design</h4>
                    <p>Nuestras estrategias están listas para ofrecerle lo mejor de su inversión y un primer impacto realmente satisfactorio.</p>
                  </li>
                  <li>
                    <i class="fa fa-tv"></i>
                    <h4>Optimización en motores de búsqueda</h4>
                    <p>Cuidamos de usted hoy, y le preparamos para los desafíos del mañana.</p>
                  </li>
                </ul>
              </div>

            </div>
            <!-- .row end -->

          </div>
          <!-- .container end -->

        </div>
        <!-- .header-content end -->

      </div>
      <!-- .header-overlay end -->

    </header>
    <!-- #header end -->

    <!-- #main-wrap -->
    <div id="main-wrap">

      <!-- #features -->
      <div id="portfolio" class="padding-top80">

        <!-- .container -->
        <div class="container">

          <div class="post-heading-center">
            <h2>¡Ellos ya están ganando dinero con nosotros!</h2>
            <p>(¿Y usted todavía está esperando?)</p>
          </div>

          <!-- .row -->
          <div class="row padding-bottom20">

            <div class="col-sm-4"> <!-- 1 -->
              <div class="affa-feature-img">
                <img src="images/content/portafolio/adl-drywall.jpg" alt="ADL Drywall Tienda Virtual">
                <h4>ADL Drywall <br>Adiela De Lombana S.A</h4>
              </div>
            </div>

            <div class="col-sm-4"> <!-- 3 -->
              <div class="affa-feature-img">
                <img src="images/content/portafolio/ferreteria-lider.jpg" alt="Ferreteria Lider - Sitio Web">
                <h4>Ferretería Líder</h4>
              </div>
            </div>

            <div class="col-sm-4"> <!-- 2 -->
              <div class="affa-feature-img">
                <img src="images/content/portafolio/asojuegos.jpg" alt="Asojuegos Sitio Web">
                <h4>Asojuegos</h4>
              </div>
            </div>

          </div>
          <!-- .row end -->

          <!-- .row -->
          <div class="row padding-bottom20">

            <div class="col-sm-4"> <!-- 2 -->
              <div class="affa-feature-img">
                <img src="images/content/portafolio/femcristar.jpg" alt="Femcristar - Sitio Web">
                <h4>Femcristar<br>Fondo de empleados CRISTAR</h4>
              </div>
            </div>

            <div class="col-sm-4"> <!-- 1 -->
              <div class="affa-feature-img">
                <img src="images/content/portafolio/elinmobiliario.jpg" alt="Avaluos NIIF En Colombia - Posicionamiento SEM">
                <h4>El inmobiliario <br>Avalúos NIIF En Colombia</h4>
              </div>
            </div>

            <div class="col-sm-4"> <!-- 3 -->
              <div class="affa-feature-img">
                <img src="images/content/portafolio/chrisban.jpg" alt="Chrisban Hotel Boutique - Posicionamiento SEM">
                <h4>Chrisban Hotel Boutique</h4>
              </div>
            </div>

          </div>
          <!-- .row end -->

        </div>
        <!-- .container end -->

      </div>
      <!-- #features end -->

      <!-- #bottom -->
      <div id="bottom" class="bg-img">

        <!-- .bg-overlay -->
        <div class="bg-overlay">

          <!-- .container -->
          <div class="container">

            <div class="post-heading-center">
              <h2>¡Suscríbete para recibir nuestras ofertas!</h2>
              <p>Únase a miles de suscriptores satisfechos para obtener nuestras últimas ofertas.</p>
            </div>

            <form method="post" action="http://emarketing.closerdesign.net/subscribe" class="affa-form-subscribe">
              <input type="text" name="email" placeholder="Correo electrónico....">
              <input type="hidden" name="list" value="892AIpMzbxa8EFeifiIocWZw">
              <input type="submit" name="submit" value="Suscribirme">
            </form>

            <p class="txt-desc">* Sus datos están protegidos y no serán compartidos con nadie.</p>

          </div>
          <!-- .container end -->

        </div>
        <!-- .bg-overlay -->

        <div class="bg-img-base" style="background-image:url(images/content/bg/background-newsletter.jpg);"></div> <!-- background image -->

      </div>
      <!-- #bottom end -->

      <!-- #footer -->
      <footer id="footer">

        <!-- .container -->
        <div class="container">

          <p class="copyright-txt">{{ new Date().getFullYear() }} &copy;  AndresMesa.co Agencia Digital - Todos los derechos reservados.</p>

          <div class="socials">
            <a target="_blank" href="https://www.facebook.com/andresmesaco/" title="Facebook" class="link-facebook"><i class="fa fa-facebook"></i></a>
            <a target="_blank" href="https://plus.google.com/u/0/+AgenciadigitalCo" title="Google Plus" class="link-google-plus"><i class="fa fa-google-plus"></i></a>
          </div>

        </div>
        <!-- .container end -->

      </footer>
      <!-- #footer end -->

    </div>
    <!-- #main-wrap end -->

  </div>
  <!-- #body-wrap end -->

  <!--[if lt IE 8]>
  <div class="browser-notice">
  <div class="container">
    <div class="text">
      <h1>Internet Explorer Out To Date</h1>
      <p>Please update your Internet Explorer browser with a newer version (Internet Explorer 8 above) now!</p>
      <span>You can download it <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">here....</a></span>
    </div>
  </div>
  </div>
  <![endif]-->
</template>

<script lang="ts">
import Vue from 'vue'
import Axios from '@nuxtjs/axios'

export default Vue.extend({
  name: 'IndexPage',
  data: () => ({
    customer: {},
    loading: false,
  }),
  methods: {
    async submitForm() {
      this.loading = true;
      await this.$axios.post('https://closerdesign.net/api/lead/138', this.customer)
        .then(response => {
          alert('Gracias por su mensaje. Pronto estaremos en contacto.');
          this.customer = {};
          console.log(response);
        })
        .catch(e => {
          alert(e.response.data.message);
          console.log(e);
        });
      this.loading = false;
    }
  }
})
</script>
